@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  background-color: #fbfbfb;
  margin: 0;
  font-family: 'Raleway', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin:3% 13%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:1.2%;
  background-color: #2e3a53;
  color: #ffffff
}

.logotype{
  display:flex;
  align-items: center;
  justify-content: center;
  width:12%;
}

.logosymbol{
  width:50%;
  filter:saturate(0%)
}

.wordmark{
  font-weight:800;
  font-size:1.3rem;
}

.search-form{
  width:40%;
  display: flex;
  padding:0.3%;
  align-items: center;
  background: #ffffff;
  border-radius: 2rem 2rem;
  border:none;
}

.search-icon{
  color:#2e3a53;
  margin:0% 0.5% 0% 1.2%;
}

.search-input{
  border: none;
  background: none;
  width:100%;
  padding: 1.5%;
  font-size:1rem;
}

section {
  margin-top:2%;
  margin-bottom:2%;
  font-family: 'Roboto';
}

.cards{
  margin-top:3%;;
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items:start;
}

.card {
  width: 20vw;
  height: 20vw;
  background-color: #ffffff;
  border: none;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.10), 0px 7px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items:top;
  justify-content: center;
}

.card-img-top{
  width: 100%;
}

.card-body{
  background-color:#ffffff;
  border-radius: 0.5rem;
  display:flex;
  width:100%;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}