@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;800&display=swap');

body {
  background-color: #fbfbfb;
  margin: 0;
  font-family: 'Raleway', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#2e3a53;
}

.main {
  margin:3% 10%;
}

header{
  font-weight: 700;
  font-size:larger;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5% 10%;
  background-color: #2e3a53;
  color: #ffffff
}

.logotype{
  display:flex;
  align-items: center;
  justify-content: center;
  width:12%;
  text-decoration: none;
  color: #FFFF;
}

.logosymbol{
  width:50%;
  filter:saturate(0%)
}

.wordmark{
  font-weight:800;
  font-size:1.3rem;
}

.search-form{
  width:40%;
  display: flex;
  padding:0.1%;
  align-items: center;
  background: #ffffff;
  border-radius: 2rem 2rem;
  border:none;
}

.search-icon{
  color:#2e3a53;
  margin:0% 0.5% 0% 1.2%;
}

.search-input{
  border: none;
  background: none;
  width:100%;
  padding: 1%;
  font-size:1rem;
}

section {
  margin-top:5%;
  margin-bottom:2%;
  font-family: 'Roboto';
}

.cards{
  margin-top:3%;
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items:start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
  .cards{
    justify-content:center;
    align-items:center;
  }

  .card{
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .repo-gen-container {
    margin-bottom: 10%;
    margin-top: 5%;
  }
}

.card {
  width: 28%;
  min-width:300px;
  aspect-ratio: 1 / 1.1;
  font-weight: 500;
  background-color: #ffffff;
  border: none;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.10), 0px 7px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items:top;
  justify-content: center;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  object-fit:contain;
  color:#2e3a53;
}

.color-overlay{
  border-radius: 0.5rem;
  background: rgba(46,58,83,0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items:flex-end;
  position:relative;
}

.avatar{
  width: 25%;
  border-radius:50%;
  position: absolute;
  top: 8%;
  left: 37.5%;
  z-index: 10;
}

.card-body{
  height:63%;
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, #ffff 0%);
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top:7%;
  padding-bottom:5%;
  display:flex;
  width:100%;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

.card-name{
  margin:4% 0 0 0;
}

.card-email{
  margin:0;
}

.follower-count{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.repo-container {
  display: flex;
  width:70%;
  background-color: #1d42a2;
  border: 1px #1d42a2 solid;
  border-radius: 0.5rem;
  justify-content:end;
  transition:ease-in-out;
}

.repo-in-cont{
  background-color: #ffffff;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  display:flex;
  width:95%;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.repo-header{
  font-size: 0.8rem;
  display:flex;
  width: 90%;
  align-items: center;
  justify-content:space-between;
  color:#1d42a2;
}

.stargazer-count{
  display:flex;
  align-items: center;
}

.repo-description{
  color:#636363;
  width: 90%;
  text-align:start;
}

.followers{
  color:#b7b7b7;
  font-weight:400;
}

.followers-num{
  font-weight:800;
}

.line-sep{
  margin-bottom: 5%;
  opacity:40%;
}

.repo-gen-container {
  display: flex;
  width:23%;
  min-width:200px;
  aspect-ratio: 1 / 1.1;
  background-color: #1d42a2;
  border-radius: 0.5rem;
  justify-content:center;
  align-items:end;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.10), 0px 7px 5px rgba(0, 0, 0, 0.05);
}

.repo-gen-in-cont{
  background-color: #ffffff;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  display:flex;
  width:100%;
  height:95%;
  flex-direction: column;
  align-items:center;
  justify-content:start;
}

.repo-gen-name{
  font-size: 0.8rem;
  margin-top:20%;
  display:flex;
  width: 85%;
  align-items: center;
  justify-content:center;
  text-align:center;
  color:#2e3a53;
}

.stargazer-gen-count{
  display:flex;
  width:40%;
  align-items: center;
  justify-content: center;
  font-size:0.8rem;
  color:#1d42a2;
}

.start-count{
  margin-left:5%;
}

.repo-gen-description{
  color:#636363;
  width: 85%;
  text-align:center;
  font-size:0.8rem;
}

.profile-button{
  text-align: center;
  width:35%;
  border: 1px solid #ffff;
  border-radius:2rem;
  padding:7%;
}

.button-container{
  width:70%;
  height: 52%;
  display:flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  color: #FFFF;
}